/* ===========================================

                main 3.css

============================================*/

.hero-section{
    background-image: url("../assets/img/hero/hero_bg.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
}

.hero-inner{
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 왼쪽 캐릭터 */
.hero-images{
    width: 600px;
    height: 570px;
    position: relative;

    transform: translateX(80px); /* ← 이미지만 이동 */
}

.hero-img{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 650px;
    transition: opacity 0.3s;
}

/* 오른쪽 텍스트 */
.hero-content{
    width: 40%;
    color: white;
}

.hero-title{
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-icons img{
    width: 50px;
    margin-right: 10px;
    cursor:pointer;
}

.hero-desc{
    margin-top: 20px;
    line-height: 1.5;
}

.hero-btn{
    margin-top: 25px;
    padding: 12px 25px;
    background: #fff;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
